<!-- app/views/comment/index.html.erb -->
<div class="article-container">
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="top">
    <li class="title" id="comment-title"><a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">Firebase Leaves Beta Today </a></li>
  <li class="domain">(firebase.com)</li>
  </ul>
  <ul class="bottom">
    <li class="points">63 points</li>
    <li class="user"><a href="#">lyime </a></li>
    <li class="last_updated">56 minutes ago</li>
    <li class="separator">|</li>
    <li class="comments"><a href="#">17 comments</li>
  </ul>
  <ul class="bottom">
      <li class="text-container"><textarea name="add-comment" id="styled" placeholder=""></textarea></li>
  </ul>
  <ul class="bottom">
    <li><button type="button">add comment</button></li>
  </ul>
</div>
</div>

<div class="comment-container">
    <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
    <ul class="comment-tag">
      <li class="user"><a href="#">lyime</a></li>
      <li class="last_updated">6 minutes ago</li>
      <li class="separator">|</li>
      <li class="comment-link"><a href="#">link</a></li>
    </ul>
    <div class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at lectus tortor. Sed vitae facilisis nibh. Integer lacinia nulla id turpis varius scelerisque. Maecenas fringilla orci ipsum, eget tristique enim aliquam ac. Mauris pharetra tempor placerat. Duis malesuada vel tellus a imperdiet. Integer libero massa, pulvinar quis sem quis, tristique lobortis ipsum. Ut porta consectetur eros quis cursus. Sed euismod sit amet metus in euismod.</div>
    <div class="reply"><a href="#">reply</a></div>

  <div class="comment-container">
    <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
    <ul class="comment-tag">
      <li class="user"><a href="#">mnemonik</a></li>
      <li class="last_updated">5 minutes ago</li>
      <li class="separator">|</li>
      <li class="comment-link"><a href="#">link</a></li>
    </ul>
    <div class="comment-body">Mauris in turpis vitae mauris porta porta et sed nibh. Donec ut felis iaculis, varius mauris lobortis, gravida felis. Proin ut sapien molestie, consequat felis ac, imperdiet erat. Etiam porttitor interdum sollicitudin. Nam porta ac dui vel facilisis.</div>
    <div class="reply"><a href="#">reply</a></div>

    <div class="comment-container">
      <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
      <ul class="comment-tag">
        <li class="user"><a href="#">kevn</a></li>
        <li class="last_updated">4 minutes ago</li>
        <li class="separator">|</li>
        <li class="comment-link"><a href="#">link</a></li>
      </ul>
      <div class="comment-body">Morbi in commodo diam, eget ornare arcu. Integer porta hendrerit metus, pretium imperdiet tellus semper sit amet. Quisque volutpat fermentum sapien vitae vehicula. Nulla vel ornare enim. Donec sit amet euismod arcu, at laoreet neque. Morbi non massa nec nisi ultrices aliquet. Ut eu tempor risus. Nam ut luctus justo. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
      <div class="reply"><a href="#">reply</a></div>
    </div>
  </div>
</div>

<div class="comment-container">
    <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
    <ul class="comment-tag">
      <li class="user"><a href="#">lyime</a></li>
      <li class="last_updated">2 minutes ago</li>
      <li class="separator">|</li>
      <li class="comment-link"><a href="#">link</a></li>
    </ul>
    <div class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at lectus tortor. Sed vitae facilisis nibh. Integer lacinia nulla id turpis varius scelerisque. Maecenas fringilla orci ipsum, eget tristique enim aliquam ac. Mauris pharetra tempor placerat. Duis malesuada vel tellus a imperdiet. Integer libero massa, pulvinar quis sem quis, tristique lobortis ipsum. Ut porta consectetur eros quis cursus. Sed euismod sit amet metus in euismod.</div>
    <div class="reply"><a href="#">reply</a></div>

  <div class="comment-container">
    <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
    <ul class="comment-tag">
      <li class="user"><a href="#">mnemonik</a></li>
      <li class="last_updated">41 minutes ago</li>
      <li class="separator">|</li>
      <li class="comment-link"><a href="#">link</a></li>
    </ul>
    <div class="comment-body">Mauris in turpis vitae mauris porta porta et sed nibh. Donec ut felis iaculis, varius mauris lobortis, gravida felis. Proin ut sapien molestie, consequat felis ac, imperdiet erat. Etiam porttitor interdum sollicitudin. Nam porta ac dui vel facilisis.</div>
    <div class="reply"><a href="#">reply</a></div>

    <div class="comment-container">
      <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
      <ul class="comment-tag">
        <li class="user"><a href="#">kevn</a></li>
        <li class="last_updated">1 hr ago</li>
        <li class="separator">|</li>
        <li class="comment-link"><a href="#">link</a></li>
      </ul>
      <div class="comment-body">Morbi in commodo diam, eget ornare arcu. Integer porta hendrerit metus, pretium imperdiet tellus semper sit amet. Quisque volutpat fermentum sapien vitae vehicula. Nulla vel ornare enim. Donec sit amet euismod arcu, at laoreet neque. Morbi non massa nec nisi ultrices aliquet. Ut eu tempor risus. Nam ut luctus justo. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
      <div class="reply"><a href="#">reply</a></div>
    </div>
  </div>
</div>



<div class="comment-container">
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="comment-tag">
    <li class="user"><a href="#">brucehauman</a></li>
    <li class="last_updated">41 minutes ago</li>
    <li class="separator">|</li>
    <li class="comment-link"><a href="#">link</a></li>
  </ul>
  <div class="comment-body">Donec id fermentum quam. Integer ut risus consectetur, fermentum lorem eu, commodo diam. Nullam sed lorem a risus gravida imperdiet quis luctus elit. Praesent augue diam, adipiscing quis velit eu, accumsan ultrices eros. Sed interdum nulla purus, sit amet pretium nisl fermentum sit amet. In sollicitudin faucibus nulla ut tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
  <div class="reply"><a href="#">reply</a></div>

  <div class="comment-container">
    <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
    <ul class="comment-tag">
      <li class="user"><a href="#">paul</a></li>
      <li class="last_updated">33 minutes ago</li>
      <li class="separator">|</li>
      <li class="comment-link"><a href="#">link</a></li>
    </ul>
    <div class="comment-body">Cras sapien lacus, mattis nec purus ac, sodales lobortis sapien. Integer feugiat ipsum vitae elementum elementum. Donec eleifend molestie ornare. Pellentesque in purus in ante dapibus bibendum. Aliquam iaculis dapibus est, at pulvinar orci sodales quis. Mauris laoreet blandit velit, sed condimentum augue fermentum at. Pellentesque at augue eu dui porta tempor sed et felis. Cras nec ante vel dolor egestas posuere sit amet vel mi.</div>
    <div class="reply"><a href="#">reply</a></div>
  </div>
</div>



<div class="comment-container">
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="comment-tag">
    <li class="user"><a href="#">johnny</a></li>
    <li class="last_updated">21 minutes ago</li>
    <li class="separator">|</li>
    <li class="comment-link"><a href="#">link</a></li>
  </ul>
  <div class="comment-body">Nulla a mauris ipsum. Morbi pulvinar, felis sed mollis lobortis, purus justo volutpat purus, ut consectetur arcu est at est. Nulla facilisi. Integer quis purus in velit varius vulputate. Morbi vitae nisl vitae purus dictum dapibus. Donec eleifend molestie venenatis.</div>
  <div class="reply"><a href="#">reply</a></div>
</div>

<div class="comment-container">
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="comment-tag">
    <li class="user"><a href="#">darveau</a></li>
    <li class="last_updated">41 minutes ago</li>
    <li class="separator">|</li>
    <li class="comment-link"><a href="#">link</a></li>
  </ul>
  <div class="comment-body">Pellentesque tempus mi justo, at vestibulum purus venenatis ut. Nullam congue nisi in purus sollicitudin elementum eu eu metus. Phasellus semper feugiat tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec volutpat tempor mattis. Proin eget sodales urna, eu vehicula mi. Donec vitae mauris neque.</div>
  <div class="reply"><a href="#">reply</a></div>
</div>

<div class="comment-container">
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="comment-tag">
    <li class="user"><a href="#">blule</a></li>
    <li class="last_updated">9 minutes ago</li>
    <li class="separator">|</li>
    <li class="comment-link"><a href="#">link</a></li>
  </ul>
  <div class="comment-body">Aliquam erat volutpat. Suspendisse eget urna at felis sollicitudin sollicitudin vitae sed justo. Nam congue eleifend velit eget porttitor. In id ornare lorem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id nulla at orci sodales feugiat at eget sem. Integer condimentum varius magna et eleifend. Morbi auctor eros a risus mattis vestibulum.</div>
  <div class="reply"><a href="#">reply</a></div>
</div>

<div class="comment-container">
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="comment-tag">
    <li class="user"><a href="#">mort</a></li>
    <li class="last_updated">20 minutes ago</li>
    <li class="separator">|</li>
    <li class="comment-link"><a href="#">link</a></li>
  </ul>
  <div class="comment-body">In dignissim fringilla metus, non feugiat elit dignissim non. Nulla pulvinar placerat quam, dignissim lobortis turpis viverra eget. Proin lobortis massa quam, id volutpat tellus egestas eget. Nam posuere nunc ut sapien semper congue vel a dolor. Vestibulum scelerisque mauris vitae sollicitudin vehicula. Aenean pulvinar arcu non imperdiet posuere. Sed aliquet molestie scelerisque. Vivamus convallis auctor elit sit amet vehicula.</div>
  <div class="reply"><a href="#">reply</a></div>
</div>

<div class="comment-container-level2">
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="comment-tag">
    <li class="user"><a href="#">blule</a></li>
    <li class="last_updated">4 minutes ago</li>
    <li class="separator">|</li>
    <li class="comment-link"><a href="#">link</a></li>
  </ul>
  <div class="comment-body">Aliquam erat volutpat. Suspendisse eget urna at felis sollicitudin sollicitudin vitae sed justo. Nam congue eleifend velit eget porttitor. In id ornare lorem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id nulla at orci sodales feugiat at eget sem. Integer condimentum varius magna et eleifend. Morbi auctor eros a risus mattis vestibulum.</div>
  <div class="reply"><a href="#">reply</a></div>
</div>


