<!-- app/views/home/index.html.erb -->

<div class="article-container">
  <div class="count">1.</div>
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="top">
    <li class="title"><a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">Firebase Leaves Beta Today </a></li>
  <li class="domain">(firebase.com)</li>
  </ul>
  <ul class="bottom">
    <li class="points">63 points</li>
    <li class="user"><a href="#">lyime </a></li>
    <li class="last_updated">56 minutes ago</li>
    <li class="separator">|</li>
    <li class="comments"><a href="#">17 comments</li>
  </ul>
</div>
<div class="article-container">
  <div class="count">2.</div>
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="top">
    <li class="title"><a href="http://fitzgeraldnick.com/weblog/50/">Destructuring Assignment in ECMAScript 6 </a></li>
  <li class="domain">(fitzgeraldnick.com)</li>
  </ul>
  <ul class="bottom">
    <li class="points">40 points</li>
    <li class="user"><a href="#">mnemonik </a></li>
    <li class="last_updated">49 minutes ago</li>
    <li class="separator">|</li>
    <li class="comments"><a href="#">5 comments</li>
  </ul>
</div>
<div class="article-container">
  <div class="count">3.</div>
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="top">
    <li class="title"><a href="https://stripe.com/blog/introducing-stripe-uk">Introducing Stripe UK </a></li>
  <li class="domain">(stripe.com)</li>
  </ul>
  <ul class="bottom">
    <li class="points">230 points</li>
    <li class="user"><a href="#">woodrow </a></li>
    <li class="last_updated">4 hours ago</li>
    <li class="separator">|</li>
    <li class="comments"><a href="#">118 comments</li>
  </ul>
</div>
<div class="article-container">
  <div class="count">4.</div>
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="top">
    <li class="title"><a href="http://ragnard.github.io/2013/08/12/datomic-in-the-browser.html">Datomic in the browser </a></li>
  <li class="domain">(ragnard.github.io)</li>
  </ul>
  <ul class="bottom">
    <li class="points">47 points</li>
    <li class="user"><a href="#">brucehauman </a></li>
    <li class="last_updated">2 hours ago</li>
    <li class="separator">|</li>
    <li class="comments"><a href="#">1 comment</li>
  </ul>
</div>
<div class="article-container">
  <div class="count">5.</div>
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="top">
    <li class="title"><a href="https://developers.facebook.com/blog/post/2013/08/15/summary-of-the-august-13th-app-outage/">Facebook App Outage Postmortem </a></li>
  <li class="domain">(facebook.com)</li>
  </ul>
  <ul class="bottom">
    <li class="points">15 points</li>
    <li class="user"><a href="#">lacker </a></li>
    <li class="last_updated">32 minutes ago</li>
    <li class="separator">|</li>
    <li class="comments"><a href="#">2 comments</li>
  </ul>
</div>
<div class="article-container">
  <div class="count">6.</div>
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="top">
    <li class="title"><a href="http://techcrunch.com/2013/08/15/inks-new-mobile-framework-lets-ios-apps-talk-to-each-other-share-data-you-know-like-on-android/">Ink (YC S12) Releases New iOS Layer That Allows Apps to Interact, Share Data </a></li>
  <li class="domain">(techcrunch.com)</li>
  </ul>
  <ul class="bottom">
    <li class="points">19 points</li>
    <li class="user"><a href="#">betojuareziii </a></li>
    <li class="last_updated">1 hour ago</li>
    <li class="separator">|</li>
    <li class="comments"><a href="#">13 comments</li>
  </ul>
</div>
<div class="article-container">
  <div class="count">7.</div>
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="top">
    <li class="title"><a href="http://www.lettersofnote.com/2013/07/its-real-thing.html?m=1">It's the real thing </a></li>
  <li class="domain">(lettersofnote.com)</li>
  </ul>
  <ul class="bottom">
    <li class="points">75 points</li>
    <li class="user"><a href="#">ezl </a></li>
    <li class="last_updated">3 hours ago</li>
    <li class="separator">|</li>
    <li class="comments"><a href="#">44 comments</li>
  </ul>
</div>
<div class="article-container">
  <div class="count">8.</div>
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="top">
    <li class="title"><a href="http://firstround.com/article/The-anatomy-of-the-perfect-technical-interview-from-a-former-Amazon-VP">The anatomy of the perfect technical interview from a former Amazon VP </a></li>
  <li class="domain">(firstround.com)</li>
  </ul>
  <ul class="bottom">
    <li class="points">55 points</li>
    <li class="user"><a href="#">jnazario </a></li>
    <li class="last_updated">3 hours ago</li>
    <li class="separator">|</li>
    <li class="comments"><a href="#">26 comments</li>
  </ul>
</div>
<div class="article-container">
  <div class="count">9.</div>
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="top">
    <li class="title"><a href="http://www.washingtonpost.com/blogs/ask-the-post/wp/2013/08/15/editors-note/">The Washington Post Web site was hacked today </a></li>
  <li class="domain">(washingtonpost.com)</li>
  </ul>
  <ul class="bottom">
    <li class="points">34 points</li>
    <li class="user"><a href="#">selamattidur </a></li>
    <li class="last_updated">2 hours ago</li>
    <li class="separator">|</li>
    <li class="comments"><a href="#">26 comments</li>
  </ul>
</div>
<div class="article-container">
  <div class="count">10.</div>
  <div class="arrow-icon"><%= image_tag "triangle-icon.png"%></div>
  <ul class="top">
    <li class="title"><a href="http://stackoverflow.com/questions/16159203/why-does-this-java-program-terminate-despite-that-appears-that-it-shouldt-and">Why does this Java program terminate despite appearing that it shouldn't? </a></li>
  <li class="domain">(stackoverflow.com)</li>
  </ul>
  <ul class="bottom">
    <li class="points">88 points</li>
    <li class="user"><a href="#">patmcguire </a></li>
    <li class="last_updated">3 hours ago</li>
    <li class="separator">|</li>
    <li class="comments"><a href="#">83 comments</li>
  </ul>
</div>
<div class="article-container">
  <div class="count-hide"></div>
  <div class="arrow-icon-hide"></div>
  <ul class="top">
    <li class="more"><a href="#">More</a></li>
  </ul>
</div>

